/*  */
.bg-gris{
	background-color: #A9A9A9;
	height: 70px;
}
.fondo-gris{
	background-color: #A9A9A9;
	color: white;
	padding: 5px;
	text-align: center;
	width: 70%;
}
.webzone{
	background-color: #111C24;
	padding: 5px;
	color: white;
	text-align: center;
	width: 70%;
}
.foto{
	width: 90%;
	background-color: #A9A9A9;
	margin: 10px;
	height: 200px;
	padding: 38%;
}